<div class="todo-list-container">
  <div class="todo-desc">
    <input #checkbox class="complete-todo  regular-checkbox big-checkbox" type="checkbox" [checked]="todo.complete"
           (click)="completeTodo()">
    <label [ngClass]="{'todo-title':true, 'todo-complete':todo.complete}">{{todo.title}}</label>
    <div class="right">
      <span>{{todo.date}}</span>
    </div>
  </div>
  <div [hidden]="!isHovered" class="bin-container">
    <input class="delete-todo" type="image" src="./assets/images/delete-button.svg" (click)="deleteTodo()">
  </div>
</div>
