<div class="todo-body">
  <div class="box box-4">
    <div class="box-content flexible">
      <input type="text" class="todo-input-field" placeholder="Enter a todo" autofocus="" [(ngModel)]="todo.title"
             (keyup.enter)="addTodo()">
      <ng-datepicker class="datepicker" [(ngModel)]="date" (click)="newDate()" (keyup.enter)="addTodo()"></ng-datepicker>
    </div>
  </div>
  <div>
    <ul>
      <li *ngFor="let todo of firebaseService.allTodos | async" class="todo-list">
        <div (mouseover)="mouseOver(todo)" (mouseleave)="mouseLeave(todo)">
          <app-todo [todo]="todo" [isHovered]="todo.isHovered"></app-todo>
        </div>
      </li>
    </ul>
  </div>
</div>
