<div class="todo-body">
  <button (click)="login()" *ngIf="!(user | async)?.uid">Anonymous Login</button>
  <button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>
  <div class="shadow">
    <input type="text" class="todo-input-field" placeholder="Enter a todo" autofocus="" [(ngModel)]="todo.title"
           (keyup.enter)="addTodo()">
  </div>
  <div>
    Child from:
    <select (change)="setParentId($event)">
      <option [value]="undefined" selected>Select</option>
      <option *ngFor="let todo of allTodosFlat" [value]="todo.id">
        {{todo.id + ': ' + todo.title}}
      </option>
    </select>
  </div>
  <div>
    <ul>
      <li *ngFor="let todo of allTodosHierarchy" class="todo-list">
        <div (mouseover)="mouseOver(todo)" (mouseleave)="mouseLeave(todo)">
          <app-todo [todo]="todo" [isHovered]="todo.isHovered"></app-todo>
        </div>
      </li>
    </ul>
  </div>
</div>
