<div class="container">
  <div class="row">
    <div class="profile-body col-3">
      <div *ngIf="authenticationService.user | async as user">
        <img *ngIf="!isMobile && !isTablet" class="profile-picture" [src]="user.photoURL">
        <h2 *ngIf="!isMobile">{{user.displayName}}</h2>
        <a>
          <input class="logout-btn" type="image" src="./assets/images/logout.svg" (click)="logout()">
          <input class="logout-btn" type="image" src="./assets/images/logout-hover.svg" (click)="logout()">
        </a>
      </div>
      <button *ngIf="!(authenticationService.user | async)?.uid" class="btn-signing" (click)="login()">Login</button>
    </div>
  </div>
</div>
